.unavailable-requests-container {
    width: 100%;
    
}

.unavailable-requests-table {
    width: 100%;
}

.unavailable-requests-table > * > tr {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.unavailable-requests-container p {
    font-size: 15px;
    color: var(--color-grey);
    margin-bottom: 10px;
}

.unavailable-requests-header tr th {
    background-color: var(--color-primary);
    color: var(--color-grey-light);
    font-size: 15px;
    padding: 5px 20px;
}