.login-page {
    height: 62vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-login{
    text-align: center;
    font-size: 40px;
    color: #090C02;
}

.form-login div {
    display: flex;
    flex-direction: column;
    padding: 15px
}

.form-login .input-block span {
    font-size: 20px;
}

.form-login .input-block input{
    padding: 10px;
    border-radius: 10px;
}

.form-login .button-login {
    display: flex;
    justify-content: center;
}

.form-login .button-login input{
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #BBC5AA;
}

.form-login .button-login input:hover {
    background-color: #A72608;
    transition: 0.2s;
    color: #E6EED6;
    cursor: pointer;
}

.invalid-credentials {
    text-align: center;
    color: #A72608;
    font-size: 20px;
}