.service-form-page {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-service-form{
    font-size: 30px;
    text-align: center;
}

.service-form-container {
    width: 500px;
}

.service-form div {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.service-form div span {
    font-size: 20px;
}

.service-form div textarea {
    border-radius: 10px;
    padding: 30px 0;
    resize: none;
}

.service-form div input{
    padding: 10px;
    border-radius: 10px;
}

.button-add-service input{
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #BBC5AA;
}

.button-add-service input:hover {
    background-color: #A72608;
    transition: 0.2s;
    color: #E6EED6;
    cursor: pointer;
}