.service-container{
    background-color: var(--color-white);
}

.service-container td{
    font-size: 15px;
    text-align: center;
    color: var(--color-primary);
    padding: 5px 0;
}

.button-more {
    padding: 4px 0;
    width: 40%;
    border-radius: 10px;
    border: none;
    font-size: 1.2rem;
    font-family: var(--font-family-text);
    background-color: var(--color-accent);
    color: var(--color-white);
    transition: 0.2s;
}

.button-more:hover {
    background-color: var(--color-accent-dark);
    cursor: pointer;
}

.edit, .delete {
    font-size: 1.6rem;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    color: var(--color-accent);
}

.edit:hover, .delete:hover {
    cursor: pointer;
    color: var(--color-accent-dark);
    transition: 0.2s;
}

@media (max-width: 450px) {
    .service-container td {
        font-size: 6.75 px;
    }
}