.service-container{
    background-color: #BBC5AA;
}

.service-container td{
    text-align: center;
    color: #090C02;
    font-size: 1.5vw;
    padding: 5px 0;
}

.button-more {
    padding: 4px 0;
    width: 80%;
    border-radius: 10px;
    font-size: 1vw;
    background-color: #DDE2C6;
    color: #090c02;
}

.button-more:hover {
    background-color: #A72608;
    cursor: pointer;
    color: #DDE2C6;
    transition: 0.2s;
}

.edit, .delete {
    width: 45%;
    font-size: 1vw;
    padding: 4px 0;
    border-radius: 10px;
    background-color: #DDE2C6;
    color: #090c02;
}

.edit:hover, .delete:hover {
    background-color: #A72608;
    cursor: pointer;
    color: #DDE2C6;
    transition: 0.2s;
}

@media (max-width: 450px) {
    .service-container td {
        font-size: 6.75 px;
    }
}

@media (min-width: 1000px) {
    .service-container td {
        font-size: 15px;
    }
}