.table-container{
    display: flex;
    justify-content: center;
}

.table {
    border-radius: 10px;
}

th {
    background-color: #090C02;
    color: #e6eed6;
    font-size: 30px;
    padding: 20px 60px;
}

tr{
    background-color: #BBC5AA;
}

td{
    text-align: center;
    color: #090C02;
    padding: 30px;
    font-size: 20px;
}

