.table-container{
    display: flex;
    justify-content: center;
}

.services-table {
    border-radius: 10px;
}

.services-table-header th {
    background-color: #090C02;
    color: #e6eed6;
    font-size: 30px;
    padding: 20px 60px;
}

