.home-page {
    display: grid;
    place-items: center;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0 0;
}

.input-container > i {
    font-size: 1.3rem;
    color: var(--color-primary-dark)
}

.title {
    color: var(--color-primary-dark)
}

.input-filter {
    width: 20%;
    padding: 5px 0 5px 12px;
    border: 1px solid var(--color-grey);
    border-radius: 15px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.input-filter:focus {
    border-color: var(--color-primary);
    outline: none;    
}

.services-container {
    width: 100%;
}

.home-page p{
    text-align: center;
}

@media (max-width: 520px) {
    .available-services{
        font-size: 36px;
    }
}

@media (min-width: 700px) {
    .available-services{
        font-size: 49px;
    }
}

