.home-page {
    min-height: 61vh;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0 0;
}

.input-filter {
    width: 20%;
    padding: 5px;
    border: 1px solid;
    border-radius: 15px;
    margin-right: 5px;
}

.services-container {
    width: 100%;
}

.available-services{
    font-size: 7vw;
    text-align: center;
}

@media (max-width: 520px) {
    .available-services{
        font-size: 36px;
    }
}

@media (min-width: 700px) {
    .available-services{
        font-size: 49px;
    }
}

