.card-container {
    width: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.3s;
    animation: ease-in;
    margin: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

.card-container:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 35px 0px black;
}

.card-container .image-container {
    overflow: hidden;
    height: 220px;
}

.card-container .image-container img {
    height: 100%;
    width: 100%;
}

.card-container .card-title {
    display: flex;
    margin-top: 15px;
    justify-content: center;
    font-size: 30px;
    
}

.card-container .card-body {
    display: flex;
    margin: 30px;
    font-size: 25px;
    justify-content: space-between;
    align-items: flex-end;
}

.card-container .card-body .card-date {
    display: flex;
    justify-content: flex-end;
}

.card-container .card-body .card-price {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.card-container .card-body .card-price > p {
    margin-right: 6px;
    font-size: 27px;
}

.card-container .card-button {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin: 7px;
}