.service-page {
    display: flex;
    justify-content: center;
    align-items: center;

}

.service-wrapper {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
}

.service-info-container {
    background-color: var(--color-white);
    border-radius: 10px;
    padding: 30px 54px;
    flex: 1 1 20%;
    box-shadow: rgba(0, 0, 0, 0.17) 0 0 12px 4px;
}

.service-info div{
    padding: 10px 0;
}

.service-info div p {
    padding: 5px 0;
    color: var(--color-primary)
}

.fullname, .rate {
    font-size: 25px;
}
.services {
    font-size: 35px;
    margin: 10px 0;
}

.service-presentation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-details, .user-details {
    font-size: 20px;
}

.request-form-container {
    padding: 5px 16px;
    min-width: 200px;
    flex: 1 1 20%;
}

.inputs-container > div{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    margin: 0 20px;
}

.inputs-container div span {
    color: var(--color-primary);
    font-size: 20px;
}

.inputs-container div input{
    padding: 6px;
    border-radius: 10px;
    border: 1px solid var(--color-grey);
}

.inputs-container div input:focus {
    border-color: var(--color-primary);
    outline: none; 
}


.inputs-container .submit-block input{
    display: flex;
    justify-content: center;
    width: 40%;
    padding: 5px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    background-color: var(--color-accent);
    color: var(--color-grey-light);
    transition: 0.2s;
}

.inputs-container .submit-block input:hover {
    background-color: var(--color-accent-dark);
    transition: 0.2s;
    cursor: pointer;
}

.not-logged-container p {
    color: #A72608;
    font-size: 25px;
}

.checkbox-block {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 25px 0;
    font-size: 20px;
}

#event-form {
    display: none;
}

.checkbox-block div{
    width: 40%;
}
