.service-page {
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2em;
}

.service-info-container {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px 54px;
    flex: 1 1 40%;
}

.service-info div{
    padding: 10px 0;
}

.service-info div p {
    padding: 5px 0;
}

.fullname, .rate {
    font-size: 25px;
}
.services {
    font-size: 35px;
    margin: 10px 0;
}

.service-details, .user-details {
    font-size: 20px;
}

.request-form-container {
    padding: 5px 16px;
    min-width: 200px;
    flex: 1 1 40%;
}

.inputs-container div{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.inputs-container div span {
    font-size: 20px;
}

.inputs-container div input{
    padding: 6px;
    border-radius: 10px;
}

.form-signup .submit-block {
    display: flex;
    justify-content: center;
}

.textarea-block textarea{
    resize: none;
    padding: 30px 0;
    border-radius: 10px;
}

.inputs-container .submit-block input{
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #BBC5AA;
}

.inputs-container .submit-block input:hover {
    background-color: #A72608;
    transition: 0.2s;
    color: #E6EED6;
    cursor: pointer;
}

.not-logged-container p {
    color: #A72608;
    font-size: 25px;
}

.checkbox-block {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 25px 0;
    font-size: 20px;
}

#event-form {
    display: none;
}

.checkbox-block div{
    width: 40%;
}
