.navbar-container {
  height: 100px;
  background-color: var(--color-primary-dark);
  color: var(--color-grey-light);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}


.navbar-item a{
  text-decoration: none;
  color: inherit;
}

.navbar-home, .navbar-event {
  font-size: 20px;
  transition: 0.15s;

}

.navbar-home:hover, .navbar-event:hover, .navbar-user:hover {
  font-size: 21px;
  color: var(--color-accent)
}

.navbar-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  transition: 0.15s;
}

.navbar-user p, i, button {
  margin-right: 7px;
}

.button-logout {
  margin-left: 8px;
  padding: 4px 10px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  font-family: var(--font-family-text);
  background-color: var(--color-accent);
  color: var(--color-white);
  transition: 0.2s;
}

.button-logout:hover {
  background-color: var(--color-accent-dark);
  cursor: pointer;
}

.credits {
  font-size: 15px;
}

.navbar-user:hover {
  transition: 0.15s;
}

.option {
  padding: 0px 5px;
}

.option-buttom {
  font-size: 1.6rem;
  padding: 0.3em 2em;
  border-radius: 10px;
  border-color: transparent;
  background-color: var(--color-grey-light);
  color: var(--color-primary);
}

.option-buttom:hover {
  transition: 0.15s;
  color: var(--color-grey-light);
  background-color: var(--color-primary);
  cursor: pointer;
}
