.navbar-container {
  height: 110px;
  background-color: var(--color-primary-dark);
  color: var(--color-grey-light);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}

.navbar-item a{
  text-decoration: none;
  color: inherit;
}

.navbar-home {
  font-size: 2.7vw;
}

.navbar-home:hover {
  transition: 0.15s;
}

.navbar-user {
  text-decoration: none;
  font-size: 2.3vw;
}

.credits {
  text-align: center;
  font-size: 2vw;
}

.navbar-user:hover {
  transition: 0.15s;
}

.option {
  padding: 0px 5px;
}

.option-buttom {
  font-size: 1.6rem;
  padding: 0.3em 2em;
  border-radius: 10px;
  border-color: transparent;
  background-color: var(--color-grey-light);
  color: var(--color-primary);
}

.option-buttom:hover {
  transition: 0.15s;
  color: var(--color-grey-light);
  background-color: var(--color-primary);
  cursor: pointer;
}

@media (max-width: 950px) {
  .navbar-home {
    font-size: 24px;
  }

  .option-buttom {
    font-size: 10px;
  }
}

@media (max-width: 600px) {
  .navbar-user {
    font-size: 13.8px;
  }

  .credits {
    font-size: 12px;
  }
}

@media (min-width: 1000px) {
  .navbar-home {
    font-size: 27px;
  }
  .navbar-user {
    font-size: 23px;
  }
  .credits {
    font-size: 20px;
  }
}
