.navbar-container {
  background-color: #BBC5AA;
  height: 150px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 150px;
  align-items: center;
}

.navbar-item {
  padding: 0 140px;
}

.navbar-home {
  text-decoration: none;
  font-size: 30px;
  color: #090c02;
}

.navbar-home:hover {
  color: #A72608;
  transition: 0.15s;
}

.navbar-user {
  text-decoration: none;
  font-size: 25px;
  color: #090c02;
}

.credits {
  text-align: center;
  font-size: 20px;
}

.navbar-user:hover {
  color: #A72608;
  transition: 0.15s;
}

.option {
  text-decoration: none;
  color: #090c02;
  margin: 0px 20px;
  font-size: 25px
}

.option-buttom {
  font-size: 20px;
  background-color: #e6eed6;
  border-color: #090c02;
  color: #090c02;
  padding: 7px 30px;
  border-radius: 10px;
}

.option-buttom:hover {
  background-color: #A72608;
  color: #e6eed6;
  border-color: #A72608;
  transition: 0.15s;
  cursor: pointer;
}
