.footer-container {
    background: #090C02;
    display: flex;
    justify-content: center;
}

.footer-container .footer {
    padding: 30px;
    text-align: center;
    color: white;
    font-size: 18px;
}

.footer-container .footer p {
    margin-top: 13px;
}