.footer-container {
    background-color: var(--color-primary-darker);
    color: var(--color-grey-light);
    display: flex;
    justify-content: center;
}

.footer-container .footer {
    padding: 30px;
    text-align: center;
    font-size: 18px;
}

.footer-container .footer p {
    margin-top: 13px;
}