.request-row{
    background-color: var(--color-white);
}

.request-row td {
    font-size: 15px;
    text-align: center;
    color: var(--color-primary);
    padding: 5px 0;
}

.button-confirm, .button-reject, .button-delete {
    font-size: 1.6rem;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    color: var(--color-accent);
    transition: 0.2s;
}

.button-confirm:hover, .button-reject:hover, .button-delete:hover {
    cursor: pointer;
    color: var(--color-accent-dark);
    transition: 0.2s;
}