.account-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.account-wrapper {
    width: 100%;
}
.add-service {
    display: flex;
    justify-content: center;
}

.add-service-button {
    padding: 10px 35px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #E6EED6;
}

.add-service-button:hover, .request-buttons button:hover {
    background-color: #A72608;
    transition: 0.2s;
    color: #E6EED6;
    cursor: pointer;
}

.request-buttons {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.request-buttons button {
    width: 25%;
    margin: 2px;
    padding: 8px 0;
    border-radius: 10px;
}

#applicant-requests {
    display: none;
}