.account-page {
    display: flex;
    justify-content: center;
    align-items: center;
}
.account-wrapper {
    text-align: center;
    width: 100%;
}
.add-service {
    display: flex;
    justify-content: center;
}

.add-service-button {
    padding: 4px 15px;
    border-radius: 10px;
    border: none;
    font-size: 1.6rem;
    font-family: var(--font-family-text);
    background-color: var(--color-accent);
    color: var(--color-white);
    transition: 0.2s;
    margin: 40px 0;
}

.add-service-button:hover {
    background-color: var(--color-accent-dark);
    cursor: pointer;
}

.request-buttons {
    display: flex;
    justify-content: center;
}

.checkbox-block-service {
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    margin: 40px
}

.checkbox-block-service li {
    margin: 0 30px;
}

.checkbox-block-service input {
    display: none;
}

.checkbox-block-service label {
    color: var(--color-primary);
    position: relative;
    cursor: pointer;
}

.checkbox-block-service label::after {
    content: ' \2714';
    position: absolute;
    top: 0;
    left: -19px;
    transform: scale(1, 0);
    transition: all 0.15s;
}

.checkbox-block-service .active::after {
    transform: scale(1, 1);
}